body {
    font-family: Arial, sans-serif;
    background-color: #00CC66;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

.bookmarks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmark-item {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.bookmark-item h3 {
    margin-top: 0;
    font-size: 18px;
}

.bookmark-item p {
    margin-bottom: 10px;
}

.bookmark-item button {
    margin-top: auto;
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.bookmark-item button.edit-button {
    background-color: #2196F3;
    color: white;
    border: none;
}

.bookmark-item button.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
}

.bookmark-item button:hover {
    opacity: 0.8;
}

.edit-form {
    display: none;
    margin-bottom: 10px;
}

.edit-form label {
    margin-bottom: 5px;
}

.edit-form input, .edit-form textarea {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.edit-form button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.edit-form button:hover {
    background-color: #45a049;
}
